[Desktop Entry]
Comment=printscreen
Name=printscreen
Exec=$DIRNAME/printscreen.sh %f
Icon=gnome-panel-launcher
Terminal=true
Type=Application
Categories=Utility;Application
MimeType=image/png;
